*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* header section here */
header{
    background-color:#d554702b;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}
.header-content{
    width: 50%;
}
.header-content h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.header-content p{
    color: #363636;
    font-size: 15px;
    line-height: 23px;   

}
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #E55473;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
}
.header-img{
    width: 40%;
}
.header-img img{
    margin-top: 80px;
}
img{
    max-width: 100%;
}
/* header secition done */
/* featured flower section start here */
.featured-title{
    text-align: center;
     margin: 90px auto;
     width: 50%;
}
.featured-title h1{
    font-size:25px;
    font-weight: 600;
    color: #363636;
}
.featured-title p{
    color: #363636;
    line-height: 22px;
    margin-top: 9px;
    font-size: 15px;
}
.featured-flower-section{
    padding:50px 0 ;
    display: flex;
    margin-top: -90px;
    justify-content: space-between;
}
.flower-items{
    background-color: #a7216242;
    width: 25%;
    border-radius: 400px 400px 0px 0px;
}
.flower-items img{
    padding: 50px;
    position: relative;
    top: 54px;
}
.flower-items a{
    margin-top: 10px;
    display: inline-block;
}
.item-1 img{
    margin-top: 20px;
}
.item-2{
    background-color: #0598a036;
}

.item-3{
    background-color: #477d1146;
}
.flower-items p{
    text-align: center;
    position: relative;
    top: 40px;
    text-decoration: underline;
    font-weight: 500;
}
.item-2 p{
    position: relative;
    top: 133px;
}
/* our freatured fower section done */

/* service section start here */
.service-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aeaeae48;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    margin: 100px 0px;
}
.service-section p{
    font-size: 15px;
    color: #363636;
    margin-top: 10px;
}
/* service section done here*/
/* hot deal section start here */
.hot-deal{
    background-color:#d554702b;
    text-align: center;
    padding: 50px;
}
.hot-deal-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hot-deal-content{
    width: 50%;
}
.hot-deal-content h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.hot-deal-content p{
    line-height: 23px;
    font-size: 15px;
    color: #363636;
}
.hot-deal-img{
    width: 23%;
}
.offer{
    color: #E55473;
}

